@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
  font-weight: 200 800;
  font-style: normal;
}

:root {
  --font-manrope: "Manrope", sans-serif;
}


body {
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-manrope);
}


.recharts-cartesian-axis-tick text {
  font-size: 10px;
  fill: #555555; 
  font-weight: 600;
  padding-top: 12px ;
  margin: 0px 10px;
}


.recharts-cartesian-axis-line {
  stroke: #1D1D1D; 
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}